<div class="candidate-container">
  <div class="candidate-information">
    <div class="candidate-image">
      <img [id]="getRamdonPicture()" [src]="getRamdonPicture()" alt="candidate" width="120" height="120" />
    </div>
    <div class="candidate-content">
      <p class="candidate-content-list">
        <img class="border-radius-10px" >
        <span class="justify-start">{{candidate().getFirstName()}} {{candidate().getLastName()}}</span>
      </p>
      <p class="candidate-content-list">
        <img class="border-radius-10px" >
        <span class="justify-start">{{candidate().getSex() == 'M' ? 'Male' : 'Female'}}</span>
      </p>
      <p class="candidate-content-list">
        <img class="border-radius-10px" >
        <span class="justify-start">{{candidate().getCampaignTitle()}}</span>
      </p>
    </div>
  </div>
  <button class="choose-candidate-button" ui-button (click)="onSubmit(candidate().getId(), `${candidate().getFirstName()} ${candidate().getLastName()}`)">Choose Candidate</button>
</div>
