div
{
  position:fixed;
  top:0;
  height:100dvh;
  width:100dvw;
  background-color: rgba(244, 249, 253, 0.655);
  display: grid;
  align-content:center;
  justify-items: center;
  backdrop-filter: blur(10px);
  z-index: 4;
}

.shake-logo
{
  animation: pulsade 4s;
  animation-iteration-count: infinite;
}

