
  <div style="padding-bottom:60px; height: calc(100dvh - 230px); overflow: scroll;" class="ballot-box-containter" [id]="ballotBox.getId()">
    <div class="ballot-box-content">
        <!-- BALLOT BOX DATA -->
        <div class="ballot-box-content-container">
          <div class="vote-button-container" >
            @if(!elections.getHasVoted())
            {
              <button class="width-200px"  type="button" ui-button (click)="goToCandidates()">Begin To Vote</button>
            }
            @else
            {
              <button class="width-200px disabled" type="button" (click)="showError()" ui-button disabled>Vote Completed </button>
            }
          </div>
          <p class="ballot-box-content-header">
            <span>Ballot Box Information</span>
            <ui-icon code="arrowDropDown" type="grey"/>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="howToVote" type="blue"/>
            <span>Ballot Box Name</span>
            <span class="justify-end"> {{ballotBox.getBallotBoxName()}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="info" type="blue"/>
            <span>Status</span>
            <span class="justify-end">{{ballotBox.getIsOpen() ? "open": "closed"}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="dateRange" type="blue"/>
            <span>Year</span>
            <span class="justify-end">{{elections.getYear()}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="dateRange" type="blue"/>
            <span> Start date </span>
            <span class="justify-end">{{ballotBox.getStartDate().toDateString()}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="dateRange" type="blue"/>
            <span> Closing date</span>
            <span class="justify-end">{{ballotBox.getEndDate().toDateString()}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="calendarClock" type="blue"/>
            <span> Closing time</span>
            <span class="justify-end">{{ballotBox.getEndDate().toLocaleTimeString()}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="group" type="blue"/>
            <span>Candidates Count </span>
            <span class="justify-end">{{ballotBox.getCandidatesCount()}}</span>
          </p>
        </div>
        <!-- VOTE RECORD -->
        <div class="ballot-box-content-container">
         <p class="ballot-box-content-header">
            <span>Your vote information</span>
            <ui-icon code="arrowDropDown" type="grey"/>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon [code]="elections.getHasVoted() ?  'checkCircle' : 'error'" type="blue"/>
            <span> My Vote Status </span>
            <span class="justify-end"> {{elections.getHasVoted() ? "Voted" : "Not Voted"}} </span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="dateRange" type="blue"/>
            <span> Date of vote </span>
            <span class="justify-end">{{ elections.getHasVoted() ? elections.getTimeBallotBoxWasOpened().toDateString() : ' -- '}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="calendarClock" type="blue"/>
            <span> Time of vote </span>
            <span class="justify-end">{{ elections.getHasVoted() ?  elections.getTimeBallotBoxWasOpened().toLocaleTimeString() : ' -- '}}</span>
          </p>
        </div>
        <div class="ballot-box-content-container">
         <p class="ballot-box-content-header">
            <span>Property Information</span>
            <ui-icon code="arrowDropDown" type="grey"/>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="apartment" type="blue"/>
            <span> Property Name</span>
            <span class="justify-end">{{property.getPropertyName()}}</span>
          </p>
          <p class="ballot-box-content-list">
            <ui-icon code="school" type="blue"/>
            <span>Campus Code</span>
            <span class="justify-end">{{property.getCampusCode()}}</span>
          </p>
        </div>
      </div>
  </div>
