<section title="Ballot Box" [id]="ballotBox.getId()" >
  <!-- ELECTIONS DATA -->
  <p>Year: {{elections.getYear()}}</p>
  <p>My Vote Status: {{elections.getHasVoted() ? "Voted" : "Not Voted"}}</p>
  <p>Date of vote: {{elections.getTimeBallotBoxWasOpened().toLocaleDateString()}}</p>
  <p>Time of vote: {{elections.getTimeBallotBoxWasOpened().toLocaleTimeString()}}</p>

  <!-- BALLOT BOX DATA -->
  <p>{{ballotBox.getBallotBoxName()}}</p>
  <p>Start Date: {{ballotBox.getStartDate().toDateString()}}</p>
  <p>Start Time: {{ballotBox.getStartDate().toLocaleTimeString()}}</p>
  <p>End Date: {{ballotBox.getEndDate().toDateString()}}</p>
  <p>End Time: {{ballotBox.getEndDate().toLocaleTimeString()}}</p>
  <p>Status : {{ballotBox.getIsOpen() ? "Open": "Closed"}}</p>
  <p>Candidates Count: {{ballotBox.getCandidatesCount()}}</p>

  <!-- VOTER DATA & PROPERTY DATA -->
  <p>Full Name: {{"Shiko Matlala"}}</p>
  <p>Sex: {{"Shiko Matlala"}}</p>
  <p>Student Number : {{"Shiko Matlala"}}</p>
  <p>Property Name: {{property.getPropertyName()}}</p>
  <p>Property Campus Code {{property.getCampusCode()}}</p>

  @if(!elections.getHasVoted())
  {
    <button (click)="goToCandidates()">Begin To Vote </button>
  }
  @else
  {

    <button disabled>Vote Completed </button>
  }
</section>
