:host
{
  color                       : var(--theme-color);
}


:host(.row)
{

  display                     : grid;
  align-items                 : center;
  gap                         : 10px;
  background-color            : white;
  border-radius               : var(--theme-border-radius);
  padding                     : var(--theme-padding-large);
  margin-top                  : var(--theme-margin-large);
  margin-bottom               : var(--theme-margin-large);
}
:host(.cols-1)
{
  grid-template-columns       : auto ;
}

:host(.cols-2)
{
  grid-template-columns       : 25px auto ;
}
:host(.cols-3)
{
  grid-template-columns       : 25px auto auto;
}
