.snack-bar-div
{
  width:fit-content;
  position:fixed;
  top:30px;
  left:50%;
  transform: translate(-50%, -50%);
  max-width: calc(100dvw - 2px);
  min-width: 200px;
  display:grid;
  background-color: rgba(254, 254, 254, 0);
  backdrop-filter: blur(5px);
  align-items:center;
  justify-items: center;
}
