/* You can add global styles to this file, and also import other style files */

:root
{
  /* ----------------------------------------------------------------
  -- COLORS ---
  ---------------------------------------------------------------- */
  --theme-color                   : #004e93;
  --theme-color-focus             : #004e93;
  --theme-border-color            : #e7e7e7;
  --theme-background-color        : white;
  --theme-border-color-focus      : #004393;

  /* ----------------------------------------------------------------
  -- BORDER ---
  ---------------------------------------------------------------- */
  --theme-border                  : 1px solid var(--theme-border-color);
  --theme-border-radius           : 5px;

  /* ----------------------------------------------------------------
  -- SPACING & PADDING, MARGIN ---
  ---------------------------------------------------------------- */
  --theme-margin                  : 5px;
  --theme-padding                 : 5px;
  --theme-margin-large            : 10px;
  --theme-padding-large           : 10px;

  /* ----------------------------------------------------------------
  -- WIDTHS & HEIGHTS ---
  ---------------------------------------------------------------- */
  --theme-width                   : 300px;
  --theme-min-width               : 240px;

  /* ----------------------------------------------------------------
  -- FOCUS & EVENTS ---
  ---------------------------------------------------------------- */
  --theme-on-focus                : var(--theme-color-focus);
  --theme-out-focus               : black;
  --theme-color-focus             : var(--theme-color);

  /* ----------------------------------------------------------------
  -- INPUTS ---
  ---------------------------------------------------------------- */
  --theme-input-color             : black;
  --theme-input-height            : 50px;
  --theme-input-outline           : none;
  --theme-input-font-size         : 1rem;
}

/* ----------------------------------------------------------------
  -- WEBKITS ---
  ---------------------------------------------------------------- */
::-webkit-scrollbar
{
  width                           : 10px;
  height                          : 10px;
}
::-webkit-scrollbar-track
{
  background-color                : transparent;
}
::-webkit-scrollbar-thumb
{
  border-radius                   : var(--theme-border-radius);
  background-color                : #00438a4e;
}
::-webkit-scrollbar-thum:hover
{
  background-color                : #215184;
}

/* ----------------------------------------------------------------
  -- BODY CONFIGURATION STYLE ---
---------------------------------------------------------------- */

[title]:hover::after
{
  /* top: fit-content; */
  top                             : 10%;
  left                            : 70px;
  right                           : 0;
  color                           : white;
  width                           : fit-content;
  padding                         : 10px;
  content                         : attr(title);
  z-index                         : 10;
  position                        : absolute;
  font-size                       : 1.1rem;
  border-radius                   : 5px;
  backdrop-filter                 : blur(10px);
  background-color                : #0015247f;
}

/* ----------------------------------------------------------------
  -- BODY CONFIGURATION STYLE ---
---------------------------------------------------------------- */
html
{
  margin                          : 0;
  font-style                      : normal;
  font-family                     : "Google Sans Flex", system-ui, -apple-system, sans-serif;
  scroll-behavior                 : smooth;
  font-variation-settings         :
                                    "slnt" 0,
                                    "wdth" 100,
                                    "GRAD" 0,
                                    "ROND" 0;
}


/* ----------------------------------------------------------------
  -- BODY CONFIGURATION STYLE ---
---------------------------------------------------------------- */
body
{
  margin                           : 0;
}

/* ----------------------------------------------------------------
  -- GLOBAL INPU STYLES ---
---------------------------------------------------------------- */
input[type=tel],
input[type=url],
input[type=text],
input[type=date],
input[type=file],
input[type=time],
input[type=week],
input[type=email],
input[type=month],
input[type=image],
input[type=number],
input[type=search],
input[type=submit],
input[type=password],
input[type=datetime-local]
{
  color                            : var(--theme-input-color);
  width                            : calc(100% - 50px);
  border                           : none;
  height                           : var(--theme-input-height);
  outline                          : var(--them-input-outline);
  font-size                        : var(--theme-input-font-size);
  transition                       : 0.5s;
  padding:0;
  margin-left                      : 2px;
  padding-left                     : 50px;
  border-radius                    : var(--theme-border-radius);
  -webkit-transition               : 0.5s;
  border-top-right-radius          : 3px;
  border-bottom-right-radius       : 3px;
  grid-area: input;
  margin:0;
}

input[type=tel]:focus,
input[type=url]:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=file]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=image]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=submit]:focus,
input[type=password]:focus,
input[type=datetime-local]:focus
{
  color: var(--theme-color);
  transition                       : 0.5s;
  -webkit-transition               : 0.5s;
}

/* Target the parent div when the its internal input is on focus*/
div:has(input[type=text]:focus),
div:focus-within
{

  border:  1px solid var(--theme-color);
  transition                       : 0.5s;
  -webkit-transition               : 0.5s;
}


h1{
  color: var(--theme-color);
  font-weight:400;
}

p{
  color: var(--theme-color);
}
@keyframes oscillate {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  25% { transform: translate(0px,0px) rotate(10deg); }
  50% { transform: translate(0px,0px) rotate(0deg); }
  75% { transform: translate(0px,0px) rotate(-10deg); }
  100% { transform: translate(0px,0px) rotate(0deg); }
}


@keyframes pulsade
{
    0% {transform: scale(1.0);}
    25% {transform: scale(1.1); }
    50% {transform: scale(1.3); }
    75% {transform: scale(1.1); }
    100% {transform: scale(1.0); }

}
