:host
{
  margin-top                : var(--theme-margin-large);
  margin-bottom             : var(--theme-margin-large);
}
:host(.title)
{
  display:grid;
  grid-template-columns: auto;
  gap:10px
}
:host(.avatar-and-title)
{
  display:grid;
  grid-template-columns: 100px auto;
  gap:10px
}

:host(.avatar-and-tags)
{
  gap:10px;
  display:grid;
  grid-template-areas:
      "tag tag"
      "avatar title";
}

:host(.title-and-icon)
{
  color                       : grey;
  font-size                   : normal;
  display                     : grid;
  grid-template-columns       : auto 25px;
}
